@using(@Html.BeginForm("Index", "Customers", FormMethod.Post))
{
    <input type="text" name="Search" id="Search" />

    <select name = "type" id="type">
        <option value="city">City</option>
        <option value="lastinitial">LastNameInitial</option>
        <option value="lastname">LastName</option>
    </Select>

    <input type="submit" name="Submit" id="Submit" />
}